---
title: "Tyler Lundy: an online portfolio"
layout: splash
header:
  overlay_image: landing.jpg
  cta_label: "GitHub Repos"
  cta_url: "https://github.com/tlundy/"
  caption: "Photo credit: [**Pexels**](https://www.pexels.com)"
excerpt: "Everybody starts somewhere."
intro:
  - excerpt: "A portfolio of data science and other online projects."
feature_row:
  - image_path: placeholder1.jpg
    alt: "placeholder image1"
    title: "Recent Data Science Posts"
    excerpt: "Coming soon...data science projects"
    url: "http://localhost:4000/recent-posts/"
    btn_label: "Recent Posts"
    btn_class: "btn--inverse"
  - image_path: placeholder2.jpg
    alt: "placeholder image2"
    title: "Resources"
    excerpt: "Coming soon...helpful data science resources"
    url: "http://localhost:4000/resources/"
    btn_label: "Resources"
    btn_class: "btn--inverse"
  - image_path: placeholder3.jpeg
    alt: "placeholder image3"
    title: "About Me"
    excerpt: "Coming soon...About Me, but for now a little mystery"
    url: "http://localhost:4000/about-me/"
    btn_label: "About Me"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}
